
<br /><br /><br /><br /><br />
<div class="container-fluid myfooter" style="height:120px;">
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                Địa chỉ: 525A Điện Biên Phủ , Bình Thạnh TPn Hồ Chí Minh <br />
                Delivery: 098927533
            </div>
            <div class="col-sm-4 text-center">
               Copyright &#169; 2023<br/>
                Nguyễn Thành trung
            </div>
            <div class="col-sm-4 text-center">
                About us<br />
                This is Coming soon!
            </div>
        </div>
    </div>
</div>


